// You Sass code that will be reused in all your pages

// Definitions
@import "variables";
@import "functions";
@import "mixins";

// External librairies
// Import only what you need, to optimize file sizes
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/utilities";

@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";

// @import "./vendor/fontawesome-free-5.0.12/variables";
// @import "./vendor/fontawesome-free-5.0.12/mixins";
// @import "./vendor/fontawesome-free-5.0.12/core";
// @import "./vendor/fontawesome-free-5.0.12/icons";

// @import "./vendor/fontawesome-free-5.0.12/fa-solid";

// Global
html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
}

.content-wrapper {
    min-height: calc(100vh - #{$footer-height} - 5px);
    margin-bottom: 5px;
}

.sticky-footer {
    height: $footer-height;
    background-color: $material-color-grey-400;

    p {
        line-height: $footer-height;
        color: $material-color-grey-100;
        margin: 0;
    }
}

// Navbar
.navbar-toggler {
    border: none;
}

.navbar {
    background-color: $material-color-grey-100;
}

// Titles
h1 {
    text-align: left;
    margin-top: $default-spacing;
}

h2 {
    margin-top: double($default-spacing); // we call our function defined in _functions.scss
    text-align: left;
}