// You Sass code that will be reused in all your pages

html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
}

.content-wrapper {
  min-height: calc(100vh - #{$footer-height} - 5px);
  margin-bottom: 5px;
}

.sticky-footer {
  height: $footer-height;
  background-color: $material-color-grey-400;

  p {
    line-height: $footer-height;
    color: $material-color-grey-100;
    margin: 0;
  }
}

// Navbar
.navbar-toggler {
  border: none;
}

.navbar {
  background-color: $material-color-grey-100;
}

// Titles
h1 {
  text-align: left;
  margin-top: $default-spacing;
}

h2 {
  margin-top: double(
    $default-spacing
  ); // we call our function defined in _functions.scss
  text-align: left;
}
