// External librairies
// Import only what you need, to optimize file sizes
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/utilities";

@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/elevation/mdc-elevation";

// Definitions
@import "variables";
@import "functions";
@import "mixins";

@import "global";

h2 {
  text-align: center;
}

#yes-btn {
  background-color: $material-color-green-300;
}

#no-btn {
  background-color: $material-color-red-300;
}

#yes-btn,
#no-btn {
  margin: $default-spacing;
}

p {
  margin: 10px;
}

.meme {
  max-height: 172px;
}

.img {
  min-height: 250px;
}
